/* editProfile.css */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    padding: 20px;
}

.profile-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.profile-container h1{
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.edit-profile-form {
    margin-top: 20px;
}

.form-item-submit{
    margin-bottom: 25px;
    text-align: center;
}

.form-item {
    margin-bottom: 25px;
    
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 24px;
    background-color: #f08606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #DAA520;
}
