.manage-booking-container {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .manage-booking-container form {
    display: flex;
    flex-direction: column;
  }
  
  .manage-booking-container label,
  .manage-booking-container input {
    margin-bottom: 10px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .ok-btn,
  .cancel-btn,
  .save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .ok-btn,
  .cancel-btn:hover,
  .save-btn:hover {
    background-color: #45a049;
  }

  